# Virtual Environment
venv/

# Secrets
.env

# Python
__pycache__/
*.pyc

# Airflow
airflow/logs/
airflow/plugins/

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Data
data/raw/
data/processed/

# Jupyter
.ipynb_checkpoints/

# Generated analytics
data-lake/analytics/ai_summary.json